{% extends "blog/base.html" %}

{% block content %}
  <div class="contaner">
    <div class="jumbotron">
      <h1><center><strong>About this Blog Project</strong></center></h1>
      <h3>Hello and welcome to this Blog project website. I know the visuals might be not that good, but the backend was the main part of this project. In this project you can create your own blogs and post it. If you are familiar with medium.com, you will notice that, when you highlight your text, a navbar type of option appears from where you can change its features such as boldness, etc. Please check it out! If you notice any bugs, please contact the admin, which is Glen. :)</h3>
    </div>
  </div>
{% endblock %}
