{% extends "blog/base.html" %}

{% block content %}
  <div class="centerstage">
    {% for post in post_list %}
      <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
          <p>Published On: {{ post.published|date:"D M Y" }}</p>
        </div>
        <!-- When we click on comments, it takes us back the post with the current pk, so we can see the post along with the comment -->
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
